/* acadmic section */

.academics-section {
  padding: 60px 20px;
  background-color: #ffffff; /* White */
  border-top: 6px solid #205781; /* Steel Gray */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.heading {
    
  font-size: 2.8rem;
  color: #205781; /* Steel Gray */
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 1.2rem;
  color: #444444; /* Dark Gray */
  margin-bottom: 40px;
}

.info-card {
    
   background-color: #679dc7; /* Soft Green */
  border-left: 5px solid #205781; /* Steel Gray */
  font-size: 18px;
  padding: 25px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

.info-card h3 {
 color: #050573; /* Steel Gray */
  margin-bottom: 15px;
  font-weight: 600;
}

.styled-list {
  list-style: none;
  padding-left: 0;
  font-size: 1rem;
}

.styled-list li {
  padding: 8px 0;
  position: relative;
  padding-left: 22px;
   color: rgb(30, 30, 120);
}

.styled-list li::before {
  content: "✔️";
  position: absolute;
  left: 0;
  color: #205781; /* Steel Gray */
}

.curriculum-box {
  background-color: #679dc7; /* Soft Green */
  padding: 25px;
  color: rgb(30, 30, 120);
  border-radius: 10px;
  border-left: 5px solid #205781; /* Steel Gray */
  animation: fadeIn 1s ease;
}

.curriculum-box h4 {
  color: #050573; /* Steel Gray */
  margin-bottom: 10px;
  font-weight: 600;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.heading {
  font-size: 2.8rem;
  font-weight: bold;
  color:navy; /* Steel Gray */
  margin-bottom: 10px;
  animation: slideInFade 1s ease-in-out both;
}

.sub-heading {
  font-size: 1.2rem;
  color:rgb(16, 83, 92); /* Dark Gray */
  margin-bottom: 40px;
  font-size: 22px;
  font-style: italic;
  letter-spacing: 0.5px;
  animation: fadeInUp 1.5s ease forwards;
}

/* Animations */
@keyframes slideInFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
